* {
  padding: 0;
  margin: 0;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: white;
}
.animaiton-box {
  position: relative;
  height: 400px;
  width: 400px;
  background-color: white;
  color: #333;
  text-align: center;
  font-weight: bold;
  font-size: 26px;
  line-height: 400px;
  border-radius: 50%;
}
.animaiton-box::after,
.animaiton-box::before {
  content: "";
  z-index: -1;
  position: absolute;
  top: -15px;
  left: -15px;
  width: calc(100% + 30px);
  height: calc(100% + 30px);
  background: linear-gradient(
    45deg,
    #ffff00,
    #00ff00,
    #0099ff,
    #001aff,
    #a200ff,
    #ff0055,
    #ff0000,
    #ff0055,
    #ff0000,
    #97ff52,
    #0099ff,
    #001aff,
    #a200ff
  );
  background-size: 300%;
  border-radius: 50%;
  animation: boredrColor 7s linear infinite;
}
.animaiton-box::after {
  filter: blur(25px);
}

@keyframes boredrColor {
  0% {
    background-position: 0 0;
  }
  10% {
    background-position: 100%;
  }
  25% {
    background-position: 200%;
  }
  50% {
    background-position: 300%;
  }
  100% {
    background-position: 0 0;
  }
}
